<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <!--windows-Target _top可以防止别人用iframe引用-->
    <meta http-equiv="windows-Target" content="_top" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="<%= meta_keywords %>" />
    <meta name="description" content="<%= meta_description %>" />
    <meta name="author" content="Tom Cao@jiepengthegreat@126.com" />
    <meta name="copyright" content="MIT" />
    <!--保证适当的绘制和缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--禁用缩放功能-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <!--########################## css #############################-->
    <link rel="stylesheet" href="<%= host%>bower-libs/bootstrap/dist/css/bootstrap.css"><!-- bootstrap-->
    <link rel="stylesheet" href="<%= host%>bower-libs/highlightjs/styles/xcode.css"><!-- highlight -->
    <link rel="stylesheet" href="<%= host%>tom-blog/build/css/temp.css">
    <!--########################## js #############################-->
    <script src="<%= host%>bower-libs/jquery/dist/jquery.js"></script><!--jquery-->
    <script src="<%= host%>bower-libs/bootstrap/dist/js/bootstrap.js"></script><!--bootstrap-->
    <script src="<%= host%>bower-libs/ace-builds/src-min-noconflict/ace.js"></script><!--ace-->
    <script src="<%= host%>bower-libs/highlightjs/highlight.pack.js"></script><!--highlight-->
    <script src="<%= host%>bower-libs/markedjs-extra/lib/marked_extra.js"></script><!--markedjs-extra-->
    <script src="<%= host%>bower-libs/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="<%= host%>tom-blog/build/js/toc.js"></script>
    <script src="<%= host%>tom-blog/build/js/temp.js"></script>
    <title>Tom_Blog</title>
</head>
<body>
<%- body %>
</body>
</html>
